.HomeSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    margin: 3vw 0 4vw;
    .HomeSectionCards {
        display: flex;
        justify-content: center;
        gap: 3vw;
    }
}

@media screen and (max-width: 768px) {
    .HomeSectionCards {
        flex-direction: column;
    }

}