.carousel-indicators button{
    border-radius: 100%;
}

.contacto {
    display: flex;
    padding: 5%;
    background-color: grey;
    .contactoImg {
        width: 40vw;
        padding: 2%;
    }
    .contactoText {
        color: white;
        padding: 10%;
        .contactoTextButton {
            color: black;
        }
    }
}

.ubicacion {
    display: flex;
    padding: 5%;
    background-color: white;
    .ubicacionText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        padding: 7%;
        gap: 4%;
        .ubicacionTextTitle {
            font-weight: bold;
            padding-right: 5%;
        }
    }
    .ubicacionImg {
        width: 100vw;
        height: 25vw;
    }
}

@media screen and (max-width: 768px) {
    .contacto {
        flex-direction: column-reverse;
        .contactoImg {
            width: 80vw;
            align-self: center;
        }
        .contactoText{
            align-tracks: end;
        }
    }
    .ubicacion {
        flex-direction: column;
        .ubicacionText{
            align-items: center;
        }
        .ubicacionImg {
            width: 80vw;
            align-self: center;
        }
    }

}