.logo {
    width: 15rem;
}
.nav-link:hover {
    color: rgb(0, 57, 137);
    font-weight: bold;
}
.nav-link:focus{
    color: rgb(0, 57, 137);
    font-weight: bold;
}
.navbar-nav .show>.nav-link {
    color: rgb(0, 57, 137);
    font-weight: bold;
}

