.full{
    display: flex;
    .cards {
            display: flex;
            flex-direction: row;
            border-style: solid;
            padding: 1vw;
            width: 30vw;
            height: 15vw;
            margin: 2vw;
            gap: 2vw;
            .cardsImg {
                display: flex;
                align-self: center;
                width: 10vw;
                height: 10vw;
            }
            .cardsText {
                padding-top: 2vw;
                display: flex;
                flex-direction: column;
            }
    }
}
